/* estilos para escenario */
.container h2 {
  margin-bottom: 1rem;
}
.card {
  transition: transform 0.15s;
}
.card:hover {
  transform: translateY(-4px);
}
.content {
  margin-left: 240px; /* mismo ancho que el sidebar */
  padding: 20px;
}