<div class="login-page">
    <div class="logo-container">
        <img src="assets/escudo-ubb-oscuro.png" alt="Logo UBB" class="ubb-logo">
        <h1 class="logo-text">VR Bomberos</h1>
        <p class="logo-subtext">Sistema de Administración de Capacitación</p>
    </div>

    <div class="login-box">
        <div class="login-form-content">
            <h3 class="mb-4">Iniciar Sesión</h3>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                
                <div class="form-group" style="margin-bottom: 10px;">
                    <label class="form-label">Correo</label>
                    <input type="email" formControlName="Correo" class="form-control" placeholder="correo@example.com" [class.is-invalid]="loginForm.get('Correo')?.invalid && loginForm.get('Correo')?.touched">
                    <ng-container *ngIf="loginForm.get('Correo')?.invalid && loginForm.get('Correo')?.touched">
                        <small *ngIf="loginForm.get('Correo')?.errors?.['required']" class="error-message">El correo es obligatorio.</small>
                        <small *ngIf="loginForm.get('Correo')?.errors?.['email']" class="error-message">Formato de correo inválido.</small>
                    </ng-container>
                </div>
                

                <div class="form-group">
                    <label class="form-label">Contraseña</label>
                    <input type="password" formControlName="Contrasena" class="form-control" placeholder="********" [class.is-invalid]="loginForm.get('Contrasena')?.invalid && loginForm.get('Contrasena')?.touched">
                    <small *ngIf="loginForm.get('Contrasena')?.invalid && loginForm.get('Contrasena')?.touched && loginForm.get('Contrasena')?.errors?.['required']" class="error-message">
                        La contraseña es obligatoria.
                    </small>
                </div>
                <br>

                <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid"> Iniciar Sesión </button>

                <p *ngIf="errorMessage" class="text-danger mt-3 text-center">
                    {{ errorMessage }}
                </p>
                
                <div class="additional-links mt-4 text-center">
                    <a routerLink="/recuperar-contrasena" class="forgot-password-link">¿Olvidaste la contraseña?</a>
                </div>
            </form>
        </div>
    </div>
</div>